@import '../../src/styles/variables.css';

header {
  position: fixed;
  top: resolve(var(--gutter) + 0.6rem);
  left: 0;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
  z-index: 5;
}
