@import '../../src/styles/variables.css';

header {
  position: sticky;
  top: resolve(var(--gutter) + 0.6rem);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--baseline-normal);
  width: 100%;
  height: 1px;
  z-index: 5;
}

.logo {
  width: 1.728rem;
  height: 1.728rem;
}
