@import '../../src/styles/variables.css';
@import '../../src/styles/aesthetics.css';

.siteContent {
  flex: 1;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.enter {
  opacity: 1;
}

.leave {
  opacity: 0;
}
