@import '../../src/styles/variables.css';
@import '../../src/styles/aesthetics.css';

:global(.mdl-js-layout) {
  background-color: var(--color-neutral-absolute);
}

.siteContent {
  position: relative;
  z-index: 1;
}

.enter {
  opacity: 0.01;
}

.enter.enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.leave {
  opacity: 1;
}

.leave.leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

