<.flash_group flash={@flash} />
<.live_component
  module={PortfolioWeb.Navigation}
  id="nav"
  current_path={@current_path}
  user_locale={@user_locale}
/>
<div
  data-main-view
  class="grid grid-cols-12 transition-opacity duration-500 ease-in-out phx-page-loading:opacity-0 text-color-main"
>
  <main class="sm:col-start-3 sm:col-end-11 ">
    <%= @inner_content %>
  </main>
</div>
