@import './variables.css';

:root {
  --border-radius-small: 4px;
}

.shadow1 {
  box-shadow: 0 2px 6px rgba(0,41,117,.19), 0 10px 20px rgba(0,41,117,.05);
}

.shadow2 {
  box-shadow: 0 4px 8px 0 rgba(0,6,38,0.15), 0 14px 32px 0 rgba(0,36,104,0.08);
}

.bgGradient {
  position: relative;
  padding: var(--gutter) 0;
  
  & > * {
    z-index: 1;
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
  }

  &::before {
    transform: skewY(2deg);
    background-image: linear-gradient(46deg, #8700FF 0%, #FF56B8 45%, #FFD635 100%);
  }

  &::after {
    transform: skewY(5deg);
    background-image: linear-gradient(53deg, #8700FF 0%, #FF56B8 45%, #FFD635 100%);
  }

  & > :--headers {
    color: white;
  }
}

.borderRadiusTop {
  border-radius: 8px 8px 0 0;
}

.dropCap::first-letter {
  float: left;
}

:global(.wfLoadedMaria) .dropCap::first-letter {
  /* Maria */
  font-family: var(--font-family-headers);
  font-size: 2.77rem;
  line-height: 0.865;
  margin-top: 0.14em;
  padding: 0 var(--baseline-smaller) 0 0;
}

.accessibility {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
