@import './variables.css';

@custom-selector :--grid .g3, .g4, .g5, .g6, .g8, .g9, .g10, .g11, .g12;

/* Default Spacing */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin-top: 0;
}

:global(#container) {
  margin-top: var(--gutter);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

* + * {
  margin-top: var(--gutter);
}

* + .gMarginTopLarge {
  margin-top: var(--baseline-larger);
}

/* Element Spacing */
* + p,
* + blockquote,
* + pre,
* + .gMarginTopSmall {
  margin-top: var(--baseline-normal);
}

img,
video {
  display: block;
  width: 100%;
}

/* Grid Classes */
.gFlexContainer {
  display: flex;
  flex-wrap: wrap;

  &.gFlexEnd {
    align-items: flex-end;
  }

  &.gFlexCenter {
    align-items: center;
  }

  &.gFlexStart {
    align-items: flex-start;
  }

  &.gNoFlexWrap {
    @media (--small-bp) {
      flex-wrap: nowrap;
    }
  }
}

.gAlignSelfStart {
  align-self: flex-start;
}

.gAlignSelfCenter {
  align-self: center;
}

.gAlignSelfEnd {
  align-self: flex-end;
}

* + .gMarginLeftSmaller {
  margin-left: var(--baseline-small);
}

* + .gMarginLeftSmall {
  margin-left: var(--baseline-normal);
}

.gNoMarginTop {
  margin-top: 0;
}

.gPositionAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;

  &.right {
    left: initial;
  }
}

.g2 {
  width: calc(99.99% * 2/12 - (var(--gutter) - var(--gutter) * 2/12));
}

@media (--small-bp) {

  .gNoMarginTopS {
    margin-top: 0;
  }

  .g1s {
    width: calc(99.99% * 1/12 - (var(--gutter) - var(--gutter) * 1/12));
  }

  .g3s {
    width: calc(99.99% * 3/12 - (var(--gutter) - var(--gutter) * 3/12));
  }

  .g4s {
    width: calc(99.99% * 4/12 - (var(--gutter) - var(--gutter) * 4/12));
  }

  .g5s {
    width: calc(99.99% * 5/12 - (var(--gutter) - var(--gutter) * 5/12));
  }

  .g6s {
    width: calc(99.99% * 6/12 - (var(--gutter) - var(--gutter) * 6/12));
  }

  .g8s {
    width: calc(99.99% * 8/12 - (var(--gutter) - var(--gutter) * 8/12));
  }

  .g9s {
    width: calc(99.99% * 9/12 - (var(--gutter) - var(--gutter) * 9/12));
  }

  .g10s {
    width: calc(99.99% * 10/12 - (var(--gutter) - var(--gutter) * 10/12));
  }

  .g12s {
    width: 100%;
  }
}

@media (--medium-bp) {
  
  .floatRightM {
    float: right;
    padding: 0 0 0 var(--gutter);
  }

  .floatLeftM {
    float: left;
    padding: 0 var(--gutter) 0 0;
  }

  .floatRightM,
  .floatLeftM {

    &::after {
      position: relative;
      display: block;
      content: '';
      clear: both;
    }
  }

  * + .gMarginLeftM {
    margin-left: var(--gutter);
  }

  .gNoMarginTopM {
    margin-top: 0;
  }

  .g3m {
    width: calc(99.99% * 3/12 - (var(--gutter) - var(--gutter) * 3/12));
  }

  .g4m {
    width: calc(99.99% * 4/12 - (var(--gutter) - var(--gutter) * 4/12));
  }

  .g5m {
    width: calc(99.99% * 5/12 - (var(--gutter) - var(--gutter) * 5/12));
  }

  .g6m {
    width: calc(99.99% * 6/12 - (var(--gutter) - var(--gutter) * 6/12));
  }

  .g7m {
    width: calc(99.99% * 7/12 - (var(--gutter) - var(--gutter) * 7/12));
  }

  .g8m {
    width: calc(99.99% * 8/12 - (var(--gutter) - var(--gutter) * 8/12));
  }

  .g9m {
    width: calc(99.99% * 9/12 - (var(--gutter) - var(--gutter) * 9/12));
  }

  .g10m {
    width: calc(99.99% * 10/12 - (var(--gutter) - var(--gutter) * 10/12));
  }

  .g12m {
    width: 100%;
  }
}

@media (--large-bp) {

  * + .gMarginLeftL {
    margin-left: var(--gutter);
  }

  .gNoMarginTopL {
    margin-top: 0;
  }

  .gPositionAbsoluteL {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    &.right {
      left: initial;
    }
  }

  .g3l {
    width: calc(99.99% * 3/12 - (var(--gutter) - var(--gutter) * 3/12));
  }

  .g4l {
    width: calc(99.99% * 4/12 - (var(--gutter) - var(--gutter) * 4/12));
  }

  .g5l {
    width: calc(99.99% * 5/12 - (var(--gutter) - var(--gutter) * 5/12));
  }

  .g6l {
    width: calc(99.99% * 6/12 - (var(--gutter) - var(--gutter) * 6/12));
  }

  .g7l {
    width: calc(99.99% * 7/12 - (var(--gutter) - var(--gutter) * 7/12));
  }

  .g8l {
    width: calc(99.99% * 8/12 - (var(--gutter) - var(--gutter) * 8/12));
  }

  .g9l {
    width: calc(99.99% * 9/12 - (var(--gutter) - var(--gutter) * 9/12));
  }

  .g10l {
    width: calc(99.99% * 10/12 - (var(--gutter) - var(--gutter) * 10/12));
  }

  .g12l {
    width: 100%;
  }
}

.maxWidth {
  position: relative;
  max-width: var(--max-width);
  margin-right: 1rem;
  margin-left: 1rem;

  @media (--medium-bp) {
    width: calc(100% - (var(--gutter) * 2 + 100% * 2/12 - (var(--gutter) - var(--gutter) * 2/12)));
    margin-right: auto;
    margin-left: auto;
  }
}

.z0 {
  z-index: -1;
}

.z1 {
  z-index: 1;
}

/* Prevent Orphan Words */
.noWrap {
  white-space: nowrap;
}

.textCenter {
  text-align: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
}