/* Custom Header selector */
@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:root {
  --color-main-base: #fa4aaa;
  --color-secondary-base: #008ef6;
  --color-secondary-dark: #0347c7;
  --color-highlight-light: #fff009;
  --color-neutral-base: #202020;
  --color-neutral-absolute: #fff;
  --font-body-small: 1.125rem;
  --font-body-large: 1.375rem;
  --font-family-fallback: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans';
  --font-family-headers: 'Maria';
  --font-family-body: 'GT America';
  --cap-height: 4px;
  --baseline-smaller: 0.3637rem;
  --baseline-small: 0.7275rem;
  --baseline-normal: 1.455rem;
  --baseline-large: 2.909rem;
  --baseline-larger: 5.818rem;
  --gutter: var(--baseline-large);
  --small-viewport: 30rem;
  --medium-viewport: 53rem;
  --large-viewport: 65rem;
  --max-width: 1156px;
}

/* can't use vars here */
@custom-media --small-bp (min-width: 550px);
@custom-media --medium-bp (min-width: 800px);
@custom-media --large-bp (min-width: 1156px);
