/* Custom Header selector */
@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:root {
  --color-main-base: #fa4aaa;
  --color-secondary-base: #008ef6;
  --color-secondary-dark: #0347c7;
  --color-highlight-light: #fff009;
  --color-neutral-base: #202020;
  --color-neutral-absolute: #fff;
  --font-body-small: 1.125rem;
  --font-body-large: 1.25rem;
  --font-family-fallback: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans';
  --font-family-headers: 'Maria', 'Arial Black', -apple-system, system-ui, sans-serif;
  --font-family-body: 'GT America', 'Trebuchet MS', Avenir, Fira Sans, -apple-system, system-ui, sans-serif;
  --cap-height: 2px;
  --baseline-smaller: 0.3637rem;
  --baseline-small: 0.7275rem;
  --baseline-normal: 1.444rem;
  --baseline-large: 2.889rem;
  --baseline-larger: 5.778rem;
  --gutter: var(--baseline-large);
  --small-viewport: 30rem;
  --medium-viewport: 53rem;
  --large-viewport: 65rem;
  --max-width: 53rem;
}

/* can't use vars here */

@custom-media --small-bp (min-width: 500px);
@custom-media --small-bp-max (max-width: 500px);
@custom-media --medium-bp (min-width: 750px);
@custom-media --medium-bp-max (max-width: 750px);
@custom-media --large-bp (min-width: 1050px);
@custom-media --large-bp-max (max-width: 1050px);
