<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= config.title %></title>

    <meta name="description" content="Zane Riley is a digital product designer residing in San Francisco, California.">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://zaneriley.com">
    <meta property="og:title" content="Zane Riley, Product Designer">
    <meta property="og:image" content="https://zaneriley.com/image-og.jpg">
    <meta property="og:description" content="Zane Riley is a digital product designer residing in San Francisco, California.">
    <meta property="og:site_name" content="Zane Riley, Product Designer">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zaneriley">
    <meta name="twitter:creator" content="@zaneriley">
    <meta name="twitter:url" content="https://zaneriley.com">
    <meta name="twitter:title" content="Zane Riley, Product Designer">
    <meta name="twitter:description" content="The portfolio of Zane Riley, digital product designer residing in San Francisco, California.">
    <meta name="twitter:image" content="https://zaneriley.com/image-twitter.jpg">

    <link href="/manifest.webmanifest" rel="manifest" >
    <link href="/favicon-32x32.png" rel="icon" type="image/png"  sizes="32x32">
    <link href="/favicon-16x16.png"  rel="icon" type="image/png" sizes="16x16">
    <link href="/manifest.json" rel="manifest" >
    <link href="/safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Zane Riley">
    <meta name="application-name" content="Zane Riley">
    <meta name="theme-color" content="#008ef6">
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>

    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
