@import '../../styles/variables.css';

.hero {
  position: relative;
  height: calc(100vh - var(--baseline-small));
  min-height: 300px;
}

.theBigZ {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: -1;
  width: 45vw;
  transform: translate(25%, -14%);
}