.hero {
  position: relative;
  height: 100vh;
}

.theBigZ {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: -1;
  transform: translate(25%,-13%);
  width: 28rem;
}

.enter {
  opacity: 1;
}

.leave {
  opacity: 0;
}
