@import '../../src/styles/variables.css';

.upNextWrapper {
  position: relative;
  padding: var(--gutter) 0;
  background-color: var(--color-neutral-absolute);
}

* + .upNextWrapper {
  margin-top: var(--baseline-larger);
}
