@import '../../src/styles/variables.css';

.horizontalScrollOuterWrapper {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
}

.horizontalScrollInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  vertical-align: middle;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  & > * {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
  }
}
