/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: rgba(5, 0, 59, 1);
    color: white;
    min-height: 100vh;
}
.dark-mode {
    background: black;
    color: white;
}
.light-mode {
    background: rgb(75, 75, 75);
    color: #fff;
}