:root {
  --main-color: red;
  
  --font-size-main: 1.375em;
  --font-family-fallback: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans";
  --font-family-loaded: "Berthold Akzidenz Grotesk";
}

body {
  font-family: var(--font-family-fallback);
  font-size: var(--font-size-main);
  line-height: 1.77778;
  -webkit-font-smoothing: antialiased;

  &.--wf-loaded {
    font-family: var(--font-family-loaded);
  }
}
