@import '../../src/styles/variables.css';

.panel {
  padding: var(--baseline-normal);
  justify-content: space-between;
  background-color: var(--color-neutral-absolute);
  transition: box-shadow 100ms ease-in-out;
  z-index: 1;

  & > * {
    width: 100%;
  }

  @media (--medium-bp-max) {
    width: 100%;
  }

  &:hover {
    box-shadow: 4px 8px 12px 0 rgba(0, 6, 38, 0.15), 0 14px 32px 0 rgba(0, 36, 104, 0.08);
  }

  &:active {
    box-shadow: 0 2px 6px rgba(0,41,117,.19), 0 10px 20px rgba(0,41,117,.05);
  }
}
