@import '../../src/styles/variables.css';

.bar {
  display: flex;
  align-items: center;
  padding: var(--baseline-small) var(--baseline-small);
  background: var(--color-neutral-absolute);
  box-shadow: inset -2px -3px 15px 0 rgba(220, 232, 250, 0.5), inset 0 7px 13px 2px rgba(255, 255, 255, 0.25);
  border-radius: 8px 8px 0 0;
}

.circle {
  width: 0.727em;
  height: 0.727em;
  border-radius: 1rem;
}

.red {
  background-color: #ff7371;
  box-shadow: inset -1px 0 9px 0 #fa4a4a;
}

.yellow {
  background: #fff009;
  box-shadow: inset -1px 0 9px 0 #ffd634;
}

.green {
  background: #32e2ce;
  box-shadow: inset -1px 0 9px 0 #00cab3;
}
