<.header>
  Case Studies
</.header>

<.portfolio_item_list
  items={@streams.case_studies}
  navigate_to={fn item -> ~p"/#{@user_locale}/case-study/#{item.url}" end}
  user_locale={@user_locale}
/>

<.modal
  :if={@live_action in [:new, :edit]}
  id="case_study-modal"
  show
  on_cancel={JS.patch(~p"/#{@user_locale}/case-studies")}
>
  <.live_component
    module={PortfolioWeb.CaseStudyLive.FormComponent}
    id={@case_study.id || :new}
    title={@page_title}
    action={@live_action}
    case_study={@case_study}
    patch={~p"/case-study"}
  />
</.modal>
