@import '../../src/styles/variables.css';
@import '../../components/Link/Link.css';

.LinkExternal {
  position: relative;

  & svg g {
    transition: transform 50ms ease-in;
  }

  &:hover svg {
    & g {
      transform: translate(20%, -20%);
    }
  }

  &:active svg {
    & g {
      transform: translate(-20%, 20%);
    }
  }
}

.LinkExternalIcon {
  position: relative;
  display: inline-block;
  margin-top: 0;
  width: 0.833em;
  height: 0.833em;
}
