@import './styles/fonts.css';
@import './styles/variables.css';

* {
  margin: 0;
}

* + * {
  margin-top: var(--baseline-normal);
}

html {
  font-family: var(--font-family-fallback);
  font-size: var(--font-size-main);
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
}

:global(*::selection) {
  text-shadow: 0.01em 0 var(--color-highlight-light), -0.1em 0 var(--color-highlight-light), 0 0.01em var(--color-highlight-light), 0 -0.1em var(--color-highlight-light), 0.06em 0 var(--color-highlight-light), -0.06em 0 var(--color-highlight-light), 0.09em 0 var(--color-highlight-light), -0.09em 0 var(--color-highlight-light), 0.12em 0 var(--color-highlight-light), -0.12em 0 var(--color-highlight-light), 0.15em 0 var(--color-highlight-light), -0.15em 0 var(--color-highlight-light), -0.136em 0.06em var(--color-highlight-light), 0.136em 0.06em var(--color-highlight-light);
  background-color: var(--color-highlight-light);
}

:--headers {
  color: var(--color-secondary-base);
}

/* Fallback Fonts and Styles */
body:not(:global(.wf-loaded)) {
  /* GT America Fallback */
  font-family: 'Trebuchet MS';
  line-height: 1.454;
  word-spacing: -0.35px;
  font-weight: 400;
}

/* Maria Fallback */
:global(body:not(.wf-loaded)) :--headers {
  font-family: Arial, var(--font-family-fallback), sans-serif;
  letter-spacing: -0.5px;
  word-spacing: -1.25px;
  font-weight: 600;
}

/* Actual Font Typography */
:global(.wf-loaded) {
  /* GT America */
  font-family: var(--font-family-body);
  font-size: 1rem;
  line-height: 1.45;
}

:global(.wf-loaded) :--headers,
:global(.wf-loaded) a {
  /* Maria */
  font-family: var(--font-family-headers);
}

