@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/grid.css';
@import './styles/aesthetics.css';

html {
  font-family: var(--font-family-fallback);
  font-size: var(--font-body-small);
  -webkit-font-smoothing: subpixel-antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  background-color: var(--color-secondary-base);

  @media (--small-bp) {
    font-size: calc(var(--font-body-small) + (strip(var(--font-body-large)) - strip(var(--font-body-small))) * ((100vw - var(--small-viewport)) / (strip(var(--large-viewport)) - strip(var(--small-viewport)))));
  }

  @media (--large-bp) {
    font-size: var(--font-body-large);
  }
}

*::selection {
  background-color: var(--color-highlight-light);
}

h1 {
  line-height: 1.142;
  font-size: 1.728rem;

  @media (--small-bp) {
    font-size: calc(1.728rem + (2.833 - 1.728) * ((100vw - var(--small-viewport)) / (strip(var(--large-viewport)) - strip(var(--small-viewport)))));
  }

  @media (--large-bp) {
    font-size: 2.833rem;
  }
}

p {
  font-variant-numeric: oldstyle-nums;
}

h2,
blockquote {
  line-height: 1.5;
  font-size: 1.2rem;
  color: var(--color-secondary-base);

  @media (--small-bp) {
    font-size: calc(1.2rem + (1.415 - 1.2) * ((100vw - var(--small-viewport)) / (strip(var(--large-viewport)) - strip(var(--small-viewport)))));
  }

  @media (--large-bp) {
    font-size: 1.415rem;
  }
}

blockquote {
  color: inherit;

  @media (--small-bp) {
    position: relative;
    flex-grow: 0.25;
    top: resolve(-1px * strip(var(--cap-height)));
  }
}

figcaption,
small {
  line-height: 1.6;
  font-size: 0.8333rem;
  text-align: center;

  @media (--small-bp) {
    font-size: calc(0.8333rem + (0.707 - 0.833) * ((100vw - var(--small-viewport)) / (strip(var(--large-viewport)) - strip(var(--small-viewport)))));
  }

  @media (--large-bp) {
    font-size: 0.707rem;
    text-align: right;
  }
}

abbr {
  letter-spacing: 0.05em;
  cursor: help;
}

/* Fallback Fonts and Styles */
:global(body:not(.wfLoadedAmerica)) {
  /* GT America Fallback */
  font-family: 'Trebuchet MS';
  line-height: 1.454;
  word-spacing: -0.35px;
  font-weight: 400;
}

/* Maria Fallback */
:global(body:not(.wfLoadedMaria)) :--headers,
:global(body:not(.wfLoadedMaria)) blockquote,
:global(body:not(.wfLoadedMaria)) strong,
:global(body:not(.wfLoadedMaria)) figcaption,
:global(body:not(.wfLoadedMaria)) small {
  font-family: Arial, var(--font-family-fallback), sans-serif;
  letter-spacing: -0.5px;
  word-spacing: -1.25px;
  font-weight: 600;
}

/* Actual Font Typography */
:global(.wfLoadedAmerica) {
  /* GT America */
  font-family: var(--font-family-body);
  font-size: 1rem;
  line-height: 1.45;
}

:global(.wfLoadedMaria) :--headers,
:global(.wfLoadedMaria) blockquote,
:global(.wfLoadedMaria) strong,
:global(.wfLoadedMaria) figcaption,
:global(.wfLoadedMaria) small {
  /* Maria */
  font-family: var(--font-family-headers);
}

/*
html {
  &::after {
    pointer-events: none;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1004px;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(253, 110, 110, 0.2) calc(99.99% - var(--gutter)), rgba(0, 0, 0, 0) 1px), linear-gradient(to top, rgba(0, 0, 0, 0) 95%, rgba(56, 255, 255, 0.8) 100%);
    background-size: calc((99% * 1/12) + (6px)) 100%, 100% 16px;
    content: '';
  }
}
*/
