@import '../../styles/variables.css';

.flexContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  @media (--small-bp) {
    flex-wrap: nowrap;
  }

  & > * {
    display: block;
    flex-shrink: 0;
  }
}

.calloutPanel {


  @media (--small-bp) {
    position: absolute;
    right: 0;
    bottom: var(--baseline-large);
  }

  @media (--medium-bp) {
    position: static;
    transform: translateX(calc((99.99% * 1/6 + (var(--baseline-large) - var(--baseline-large) * 1/3)) * -1));
    margin-bottom: var(--baseline-large);
  }
}

.kitWireframe {

}