@import '../../styles/variables.css';

.kitWrapper,
.classWrapper,
.userTestingWrapper {
  position: relative;
  flex-wrap: wrap;

  @media (--large-bp) {
    flex-wrap: nowrap;
  }

  & > * {
    display: block;

    @media (--large-bp) {
      flex-shrink: 0;
      margin-top: 0;
    }
  }
}

.aboutKit {

  @media (--large-bp) {
    order: 3;
    align-self: flex-start;
    transform: translateX(-100%);
    z-index: 1;
  }
}

.calloutPanel {

  @media (--medium-bp) {
    margin-top: calc(var(--gutter) * 4);
    margin-right: 0;
    margin-left: auto;
    transform: translateY(-var(--gutter));
  }

  @media (--large-bp) {
    margin-top: 0;
    margin-bottom: var(--baseline-large);
    margin-left: calc((99.99% * 2/12 - var(--gutter)) * -1);
    transform: none;
  }
}

.wireframeKit {
  @media (--small-bp-max) {
    width: 100%;
  }
}

.classWrapper {
  padding-bottom: var(--gutter);
}

.wireframeClass {
  @media (--large-bp) {
    order: 2;
    margin-left: auto;
    margin-right: 0;
  }
}

.addToCartPanel {
  margin-bottom: resolve(-1 * var(--gutter));

  @media (--medium-bp-max) {
    width: 100%;
  }
}

.userTestingWrapper {
  justify-content: space-around;
  & video {
    @media (--large-bp) {
      order: -2;
    }
  }
}

.aboutUserTesting {

  @media (--large-bp) {
    margin-left: var(--gutter);
    margin-right: 0;
  }
}

.userQuote {
  padding: 0;
}
